@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #111420;
  --pink: #D40C63;
  --yellow: #FCCE08;
  --blue: #335BC6;
  --white: #ffffff;
  --accent: #335BC6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  background-color: var(--primary);
  color: var(--white);
  overflow-x: hidden;
}

.font-nunito {
  font-family: 'Nunito', sans-serif;
}