@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

:root {
  --fondo: #111420;
  --rosa: #d40c63;
  --amarillo: #fcce08;
  --azul: #335bc6;
  --blanco: #ffffff;
}

body {
  background-color: var(--fondo);
  
}

@layer utilities {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

.page-transition {
  animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.nunito-normal {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.nunito-medium {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.nunito-semibold {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.nunito-bold {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.nunito-semibold-italic {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
}
.nunito-bold-italic {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
}

.scroll-container{
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;

  overflow-x: hidden;

  padding-right: 4px;
}

.scroll-container::-webkit-scrollbar{
  width: 8px;
  height: 200px;
}

.scroll-container::-webkit-scrollbar-track {
  background: transparent;
  margin: 2px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.scroll-container::-webkit-scrollbar-thumb:hover{
  background-color: #666;
}

.scroll-container::-webkit-scrollbar-button {
  display: none;
}
